<div class="col-12 mt-5 d-flex flex-column justify-content-center align-items-center">
    <h1>Login</h1>

    <%= render 'form', user: @user %>

    <span>Ainda não possui uma conta? <%= link_to 'Cadastre-se', root_path %>
</div>
