<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Sala de Reunião</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Agenda', reservations_path(current_user.id), class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Configurações Usuário', edit_user_path(current_user), class: 'nav-link' %>
        </li>
      <% end %>

    </ul>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= button_to 'Sair', loggout_path, method: :delete, class: 'btn btn-link nav-link' %>
        </li>
      <% end %>

    </ul>
  </div>
</nav>